@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Brandon Ward<br />
    Computer Engineering Student - Univeristy of Utah<br />
    <abbr title="Phone">P:</abbr>
    801.706.1182
</address>

<address>
    <strong>Email</strong> <a href="mailto:brandon.ward@utah.edu">brandon.ward@utah.edu</a><br />
</address>
